//variables
$gridWidth : 114rem;
$verticalGutter :8rem;
$horizontalGutter : 6rem;

//mixins
@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
    
}



//grid code
.row{
    max-width: $gridWidth;
    margin: 0 auto;
    background-color:#eee;
    
    &:not(:last-child){
        margin-bottom: $verticalGutter;

    }
    @include clearfix;
    .col-1-of-2{
        width: calc ( (100% - #{$horezontalGutter} ) / 2 ) ;
        background-color: goldenrod;
        float: left;
        &:not(:last-child){
            margin-right: $horizontalGutter;
            
        }
    }
}
