/*
light green : #7ed56f
medium green : #55c57a
dark green : #28b485
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size:16px ;
    line-height: 1.7;
    color: #777;
    padding: 25px;
}
.header{
    background-image: linear-gradient(to right bottom,
    rgba(126,213,111,0.8),
    rgba(40,180,131,0.8)) ,url("img/hero.jpg");
    height: 95vh;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    position: relative;
}
.logoBox{
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo{
    height: 35px;
    width: auto;
}
.headingPrimary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.headingPrimaryMain{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
}
.headingPrimarySub{
    display: block;
    font-size: 20px;
    letter-spacing: 14px;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 1s;
}
.textBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
@keyframes moveInLeft{
    0%{
        opacity: 0%;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(15px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0%;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link,.btn:visited{
    display: inline-block;
    padding: 15px 40px;
    text-transform: uppercase;
    border-radius: 100px;
    transition: all 0.2s;
    text-decoration: none;
    position: relative;
}
.btnWhite{
    background-color: #fff;
    color: #777;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0, 0, 0.2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btnWhite::after{
    background-color: #fff;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btnAnimation{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}