*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  /*font-size:16px ;*/
  line-height: 1.7;
  color: #777;
  padding: 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("img/hero.jpg");
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("img/hero.jpg");
  height: 95vh;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.headerLogoBox {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.headerLogo {
  height: 3.5rem;
  width: auto;
}

.headerTextBox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.headingPrimary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.headingPrimaryMain {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.headingPrimarySub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.4rem;
  font-weight: 700;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1.5rem);
            transform: translateX(-1.5rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1.5rem);
            transform: translateX(-1.5rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn:link, .btn:visited {
  display: inline-block;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  position: relative;
  font-size: 1.7rem;
}

.btnWhite {
  background-color: #fff;
  color: #777;
}

.btnWhite::after {
  background-color: #fff;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btnAnimation {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc( (100% - 6rem ) / 2);
}

.row .col-1-of-3 {
  width: calc( (100% - 6rem * 2 ) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc( (100% - 6rem * 3 ) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 6rem * 2);
}

.sectionAbout {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.headingSecondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline;
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right, #55c57a, #28b485);
  color: transparent;
  background-clip: text;
  -webkit-transition: all .2s;
  transition: all .2s;
  letter-spacing: .2rem;
  -webkit-transform: skewX(2deg) skewY(15deg) scale(1.1);
          transform: skewX(2deg) skewY(15deg) scale(1.1);
}

.headingSecondary:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(2.1);
          transform: scale(2.1);
}

.centre {
  text-align: center;
}

.margin {
  margin-bottom: 8rem;
}

.headingTertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2.3rem;
}

.paragraph {
  font-size: 1.4rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.btnText:link, .btnText:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btnText:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btnText:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
}

.compositionPhoto {
  position: absolute;
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border: 2px;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline-offset: 2rem;
}

.compositionPhotoP1 {
  left: 0;
  top: -2rem;
}

.compositionPhotoP2 {
  right: 0;
  top: 2rem;
}

.compositionPhotoP3 {
  left: 20%;
  top: 10rem;
}

.compositionPhoto:hover {
  outline: 1.5rem solid #55c57a;
  z-index: 15;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}

.composition:hover .compositionPhoto:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("img/nat-4.jpg");
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("img/nat-4.jpg");
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -10rem;
}

.features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.featuresBox {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  text-align: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.featuresBoxIcon {
  font-size: 6rem;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right, #55c57a, #28b485);
  background-clip: text;
  display: inline-block;
}

.featuresBox:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

.cardSide {
  position: absolute;
  height: 50rem;
  font-size: 2rem;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: .3rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.cardSideFront {
  background-color: #fff;
}

.cardSideBack {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardSideBack1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.cardSideBack2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
}

.cardSideBack3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .cardSideFront {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .cardSideBack {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.cardPicture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.cardPictureP1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(img/nat-5.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(img/nat-5.jpg);
}

.cardPictureP2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#55c57a), to(#28b485)), url(img/nat-6.jpg);
  background-image: linear-gradient(to right bottom, #55c57a, #28b485), url(img/nat-6.jpg);
}

.cardPictureP3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(img/nat-7.jpg);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(img/nat-7.jpg);
}

.cardHeading {
  font-size: 2.8rem;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  font-weight: 300;
  text-transform: uppercase;
  width: 75%;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.cardHeadingSpan {
  padding: 1rem 1.5rem;
}

.cardHeadingSpan1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.cardHeadingSpan2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85));
}

.cardHeadingSpan3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.cardDetails {
  padding: 3rem;
}

.cardDetails ul {
  list-style: none;
  margin: 0 auto;
  width: 80%;
}

.cardDetails ul li {
  text-align: center;
  font-size: 2rem;
}

.cardDetails ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.cardCta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.cardPriceBox {
  color: #fff;
  text-align: center;
  margin-bottom: 8rem;
}

.cardPriceBoxOnly {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.cardPriceBoxValue {
  font-size: 6rem;
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */