
$colorPrimaryLight : #7ed56f;
$colorprimary : #55c57a;
$colorPrimaryDark : #28b485;
$colorGray : #777;
$colorWhite : #fff;
$colorBlack : #000;


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    /*font-size:16px ;*/
    line-height: 1.7;
    color: $colorGray;
    padding: 2.5rem;
    box-sizing: border-box;
}
.header{
    background-image: linear-gradient(to right bottom,
    rgba($colorPrimaryLight,0.8),
    rgba($colorPrimaryDark,0.8)) ,url("img/hero.jpg");
    height: 95vh;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    position: relative;
}
.logoBox{
    position: absolute;
    top: 4rem;
    left: 4rem;
}
.logo{
    height: 3.5rem;
    width: auto;
}
.headingPrimary{
    color: $colorWhite;
    text-transform: uppercase;
    margin-bottom: 6rem;
}
.headingPrimaryMain{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
}
.headingPrimarySub{
    display: block;
    font-size: 2rem;
    letter-spacing: 1.4rem;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 1s;
}
.textBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
@keyframes moveInLeft{
    0%{
        opacity: 0%;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1.5rem);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0%;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1.5rem);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        
        transform: translateY(5rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link,.btn:visited{
    display: inline-block;
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    border-radius: 10rem;
    transition: all 0.2s;
    text-decoration: none;
    position: relative;
    font-size: 1.7rem;
}
.btnWhite{
    background-color: $colorWhite;
    color: $colorGray;
}
.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($colorBlack, 0.2);
}
.btn:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($colorBlack,0.2);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btnWhite::after{
    background-color: $colorWhite;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btnAnimation{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}