.form{
  &__group:not(:last-child){
    margin-bottom: 2rem;

  }
  &__input{
    font-family: inherit;
    font-size:1.5rem;
    border-radius: 2px;
    border: none;
    padding: 1.5rem 2rem;
    background-color: rgba($color-white,.5);
    border-bottom: 2px solid transparent;
    width: 90%;
    display: block;
    color: inherit;

    &::-webkit-input-placeholder{
      color: $color-grey-dark-2;
    }
    &:focus{
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black,.1);
      border-bottom: 2px solid $color-primary;
    }
    &:focus:invalid{
      border-bottom: 2px solid $color-secondary-dark;
    }
  }



  &__label{
    font-size: 1.7rem;
    font-weight: 700;
    display: block;
    margin-left: 2rem;
    margin-top: .7rem;
    transition: all .3s;

  }
  &__input:placeholder-shown + &__label{
    opacity:0;
    visibility: hidden;
    transform: translateY(-4rem);

  }
  &__radio-group {
    width: 49%;
    display: inline-block;
  }
  &__radio-label {
    cursor: pointer;
    font-size: 1.6rem;
    position: relative;
    padding-left: 4.5rem;
  }
  &__radio-input{
    display: none;
  }
  &__radio-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -.4rem;
    display: inline-block;
    border: 5px solid $color-primary;
    &::after{
      content: "";
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: all .3s;


    }
  }
  &__radio-input:checked ~ &__radio-label &__radio-button::after{
    opacity: 1;
  }
}
